.app-advantage {
  flex: 1 1;
  margin: 0.5rem;

  .advantage-card {
    margin: 0.5rem;
    max-width: 16rem;
    .advantage-title {
      font-size: 1rem;
      margin: 0;
    }
    p {
      font-size: 0.75rem;
      text-align: justify;
      margin: 0.4rem 0;
    }
  }
}
