<mat-card class="advantage-card">
  <mat-card-header>
    <mat-card-title class="advantage-title">
      <ng-container [ngSwitch]="true">
        <span
          *ngSwitchCase="
            advantage.types[0] === 'Avantage de passé' ||
            advantage.types[0] === 'Désavantage de passé'
          "
          matBadge="⌛"
          matBadgeOverlap="false"
          matBadgePosition="before"
        >
          {{ advantage.name }}
        </span>

        <span
          *ngSwitchCase="
            advantage.types[0] === 'Avantage Mystique' ||
            advantage.types[0] === 'Désavantage Mystique'
          "
          matBadge="M"
          matBadgeOverlap="false"
          matBadgePosition="before"
          matBadgeColor="warn"
        >
          {{ advantage.name }}
        </span>

        <span
          *ngSwitchCase="
            advantage.types[0] === 'Avantage Psychique' ||
            advantage.types[0] === 'Désavantage Psychique'
          "
          matBadge="P"
          matBadgeOverlap="false"
          matBadgePosition="before"
          matBadgeColor="accent"
        >
          {{ advantage.name }}
        </span>

        <span
          *ngSwitchCase="advantage.types.indexOf('Ki') !== -1"
          matBadge="Ki"
          matBadgeOverlap="false"
          matBadgePosition="before"
        >
          {{ advantage.name }}
        </span>

        <ng-container *ngSwitchDefault>{{ advantage.name }}</ng-container>
      </ng-container>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="advantage-content">
    <p>{{ advantage.description }}</p>
    <p><span class="bold">Effets : </span>{{ advantage.effect }}</p>
    <p *ngIf="advantage.condition">
      <span class="bold">Condition : </span>{{ advantage.condition }}
    </p>
    <p *ngIf="advantage.special">
      <span class="bold">Spécial : </span>{{ advantage.special }}
    </p>
    <p *ngIf="advantage.note">
      <span class="bold">Note : </span>{{ advantage.note }}
    </p>
    <p class="costs">
      <ng-container *ngIf="advantage.costs">
        <span class="bold">Coût : </span>
        <button
          *ngFor="let cost of advantage.costs"
          mat-mini-fab
          color="primary"
          (click)="toggleAdvantage(cost)"
          [class.disabled]="characterHasAdvantage(cost)"
        >
          {{ cost }}
        </button>
      </ng-container>
      <ng-container *ngIf="advantage.benefits">
        <span class="bold">Bénéfice : </span>
        <button
          *ngFor="let benefit of advantage.benefits"
          mat-mini-fab
          color="warn"
          (click)="toggleAdvantage(benefit)"
          [class.disabled]="characterHasAdvantage(benefit)"
        >
          {{ benefit }}
        </button>
      </ng-container>
      <span class="italic right source">{{ advantage.source }}</span>
    </p>
  </mat-card-content>
</mat-card>
