:host {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}

button {
    margin: 12px 6px 0;
    min-width: 103px;
}

button span {
    text-align: center;
}

p {
    text-align: center;
    min-height: 20px;
    padding: 4px;
    margin: 4px;
}

#dice-value {
    min-height: 154px;
    font-size: 128px;
}

#roll-history {
    min-height: 190px;
}