button {
    margin: 12px 6px 0;
    min-width: 103px;
}

button span {
    text-align: center;
}

p {
    text-align: center;
    min-height: 20px;
    padding: 4px;
    margin: 4px;
}

#dice-value {
    min-height: 149px;
    font-size: 128px;
}