<table cellspacing="0">
  <caption (click)="toggleTable()">
    {{
      caption
    }}
    <span
      class="icon"
      [ngClass]="{
        plus: !belongsToCharacter,
        'animated-plus': hasBeenToggled && !belongsToCharacter,
        minus: belongsToCharacter,
        'animated-minus': hasBeenToggled && belongsToCharacter
      }"
    ></span>
  </caption>
  <thead *ngIf="table?.headers">
    <tr>
      <th *ngFor="let header of table?.headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table?.rows">
      <td *ngFor="let cell of row" [class]="getCellStyle(cell)">
        {{ formatValue(cell) }}
      </td>
    </tr>
  </tbody>
</table>
