<table cellspacing="0">
  <caption>
    <div class="flex-row flex-center">
      <div class="title">{{ caption }}</div>
      <button
        mat-icon-button
        [color]="belongsToCharacter ? 'warn' : 'primary'"
        (click)="toggleTable()"
      >
        <mat-icon *ngIf="!belongsToCharacter">add</mat-icon>
        <mat-icon *ngIf="belongsToCharacter">remove</mat-icon>
      </button>
    </div>
  </caption>
  <thead *ngIf="table.headers">
    <tr>
      <th *ngFor="let header of table.headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table.rows">
      <td *ngFor="let cell of row" [class]="getCellStyle(cell)">
        {{ formatValue(cell) }}
      </td>
    </tr>
  </tbody>
</table>
