@media all and (min-width: 600px) {
    h1 {
        font-size: 24px;
    }
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 3.3vw;
    }
}

.mat-menu-item img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 4px;
}

.root {
    display: flex;
    flex: 1 1 100%;
    margin: 0.5rem;
}

footer {
    padding: 10px;
}

footer p {
    text-align: center;
    margin: 5px 0;
    font-size: 11px;
}

#version {
    font-size: inherit;
    padding-bottom: 5px;
}