<h2>Mon Personnage</h2>

<h3>Avantages</h3>
<p>
  Points de Création restants : {{ character.creationPoints }}<br />
  Nombre de désavantages : {{ character.disadvantages.length }} /
  {{ nbMaximumDisadvantages }}
</p>
<div class="flex flex-row flex-center">
  <app-advantage *ngFor="let advantage of advantages" [advantage]="advantage"></app-advantage>
  <app-advantage *ngFor="let advantage of disadvantages" [advantage]="advantage"></app-advantage>
</div>

<h2>Tables de référence</h2>
<div class="flex flex-row flex-center">
  <app-table
    *ngFor="let reference of character.refTables"
    [table]="tables[reference]"
    [reference]="reference"
  ></app-table>
</div>
