<h2>Tables de référence</h2>
<div class="filter flex-row">
  <mat-form-field class="flex">
    <input matInput placeholder="Rechercher" (keyup)="handleSearch({ q: $event.target.value })" [value]="filters.q" />
  </mat-form-field>
</div>

<div class="flex flex-row flex-center" *ngIf="!refTables">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="refTables">
  <ng-container *ngFor="let book of books">
    <details *ngIf="refTables[book.reference].length">
      <summary>
        <h3>{{ book.title }}</h3>
        <span class="right"> {{ refTables[book.reference].length }} Table(s) </span>
      </summary>
      <div class="flex-row flex-center">
        <app-table
          *ngFor="let table of refTables[book.reference]"
          [table]="table"
          [reference]="book.reference + '#' + table.id"
        ></app-table>
      </div>
    </details>
  </ng-container>
</ng-container>
