<h2>Tableaux</h2>
<div class="filter flex-row">
  <mat-form-field class="flex">
    <input
      matInput
      placeholder="Filtrer"
      (keyup)="handleSearch($event.target.value)"
    />
  </mat-form-field>
</div>

<ng-container *ngIf="refTables">
  <ng-container *ngFor="let book of books">
    <h3>{{ book.title }}</h3>
    <div class="flex flex-row flex-center">
      <app-table
        *ngFor="let table of refTables[book.reference]"
        [table]="table"
        [reference]="book.reference + '#' + table.id"
      ></app-table>
    </div>
    <p *ngIf="!refTables[book.reference].length">
      Aucun résultat pour ce livre.
    </p>
  </ng-container>
</ng-container>
