@import './styles/theme';
@import './styles/footer.theme';

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include footer-theme($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
}

h2 {
  margin-top: 0.4rem;
}

details {
  margin-bottom: 0.5rem;

  summary {
    cursor: pointer;
    border-bottom: 1px solid $light-grey;

    h3,
    h4 {
      display: inline;
    }

    h4 {
      padding: 0 1rem;
    }
  }
}

.flex {
  flex: 1 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-center-start {
  align-content: center;
  justify-content: flex-start;
}

.flex-center {
  align-content: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}
