@import './styles/theme';
@import './styles/footer.theme';

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include footer-theme($theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2 {
    margin-top: 0.4rem;
}

.flex {
    flex: 1 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center-start {
    align-content: center;
    justify-content: flex-start;
}

.flex-center {
    align-content: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.right {
    float: right;
}