:host {
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    max-width: calc(50% - 1rem);
}


.menu-card {
    height: 0;
    width: 10rem;
    max-width: calc(100% - 1rem);
    // Hack with height 0 to display item with an height equals to current width
    padding: 0.5rem 0.5rem calc(100% - 0.5rem);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    .menu-title {
        text-shadow: white 0 0 0.75rem, white 0 0 0.75rem, white 0 0 0.75rem,
            white 0 0 0.5rem, white 0 0 0.5rem;
    }
}