<div class="app-home flex flex-row flex-center">
  <ng-container *ngFor="let item of items">
    <a routerLink="{{ item.link }}">
      <mat-card class="menu-card" [ngStyle]="getStyle(item)">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title">{{ item.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!item.hasBackground">
          <img [src]="item.imageUrl" />
        </mat-card-content>
      </mat-card>
    </a>
  </ng-container>
</div>
