$card-dimension: 10rem;
$card-padding: 1rem;

.app-home {
  margin: 1rem;
}

a {
  margin: 0.5rem;
}
.menu-card {
  padding: $card-padding;
  width: $card-dimension;
  height: $card-dimension;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  .menu-title {
    text-shadow: white 0 0 0.4rem;
  }
  img {
    height: $card-dimension - 2rem;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}
